name: Client - Deploy To GitHub Pages

on: pull_request

defaults:
  run:
    working-directory: packages/client

jobs:
  prepare-client:
    runs-on: ubuntu-22.04

    outputs:
      artifact-id: ${{steps.upload-artifact.outputs.artifact_id}}

    steps:
      - name: Access Branch Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Build Static Files
        run: |
          npm ci
          npm run build

      - name: Check Values
        run: |
          echo "Ref = ${{github.ref}}"
          echo "Base Ref = ${{github.base_ref}}"
          echo "Head Ref = ${{github.head_ref}}"
          echo "PR Number = ${{github.event.pull_request.number}}"

      - name: Upload Static Files As Artifact
        id: upload-artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # upload-pages-artifact doesn't automatically access the predifined default working directory (line 7).
          # That's why I'm using the full path below.
          # Ref: https://github.com/actions/upload-artifact/issues/232
          path: packages/client/dist
          name: "preview-${{github.event.pull_request.number}}"

  deploy-client:
    runs-on: ubuntu-22.04

    permissions:
      pages: write
      contents: write

    needs: prepare-client

    steps:
      - name: Access Branch Code
        uses: actions/checkout@v4

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          artifact-ids: ${{needs.prepare-client.outputs.artifact-id}}

      - name: Deploy Client To GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          publish_branch: gh-pages
          publish_dir: ./packages/client/dist
          destination_dir: preview/pr-${{github.event.pull_request.number}}

      - name: Publish Link
        run: echo "Link = https://vulpy-labs.github.io/slash-out/preview/pr-${{github.event.pull_request.number}}"
