name: Client - Deploy To GitHub Pages

on: pull_request

defaults:
  run:
    working-directory: packages/client

jobs:
  prepare-client:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Branch
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5

      - name: Build Static Files
        run: |
          npm ci
          npm run build

      - name: Upload Static Files As Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # upload-pages-artifact doesn't automatically access the predifined default working directory (line 7).
          # That's why I'm using the full path below.
          # Ref: https://github.com/actions/upload-artifact/issues/232
          path: packages/client/dist

  deploy-client:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: $${{steps.page_deploy.outputs.page_url}}

    permissions:
      pages: write
      id-token: write

    needs: prepare-client

    steps:
      - name: Deploy Client To GitHub Pages
        id: page_deploy
        uses: actions/deploy-pages@v4
        # with:
        #   preview: true
