name: Deploy PR Preview

on: pull_request

defaults:
  run:
    working-directory: packages/client

env:
  BASE_URL: https://vulpy-labs.github.io/slash-out/preview
  PREVIEW_URL: https://vulpy-labs.github.io/slash-out/preview/pr-${{github.event.pull_request.number}}
jobs:
  deploy-client:
    runs-on: ubuntu-22.04

    permissions:
      pages: write
      contents: write

    steps:
      - name: Checkout PR code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Build Static Files
        run: |
          npm ci
          npm run build

      - name: Check Values
        run: |
          echo "Ref = ${{github.ref}}"
          echo "Base Ref = ${{github.base_ref}}"
          echo "Head Ref = ${{github.head_ref}}"
          echo "PR Number = ${{github.event.pull_request.number}}"

      - name: List Client's Content (after)
        run: |
          echo "Contents of packages/client:"
          ls -la
          echo "Looking for dist folder:"
          find . -name "dist" -type d

      - name: Deploy to GitHub Pages (PR Preview)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./packages/client/dist
          destination_dir: preview/pr-${{github.event.pull_request.number}}

      - name: Output Link
        run: echo "Link = ${{env.PREVIEW_URL}}"

  update-pr-description:
    runs-on: ubuntu-22.04

    needs: deploy-client

    steps:
      - name: Update PR Description
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            const pr = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            });

            const previewUrl = `${{env.PREVIEW_URL}}`;
            const previewSection = `\n\n---\n↗️ | **[Click to See The Preview](${previewUrl})**`;

            const body = pr.data.body || '';
            const doesPreviewLinkExists = body.includes(`↗️ | **[Click to See The Preview](${previewUrl})**`);

            if (!doesPreviewLinkExists) {
              await github.rest.pulls.update({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                body: body + previewSection
              });

              console.log('Link preview created!');
            } else {
              console.log('Link preview already exists. No update needed.'); 
            }
