name: Client - Deploy To GitHub Pages

on: pull_request

env:
  ARTIFACT_NAME: artifact-preview-${{github.event.pull_request.number}}
  BASE_URL: https://vulpy-labs.github.io/slash-out/preview

jobs:
  deploy-client:
    runs-on: ubuntu-22.04

    permissions:
      pages: write
      contents: write

    steps:
      - name: Access Branch Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Build Static Files
        run: |
          cd packages/client
          npm ci
          npm run build

      - name: Check Values
        run: |
          echo "Ref = ${{github.ref}}"
          echo "Base Ref = ${{github.base_ref}}"
          echo "Head Ref = ${{github.head_ref}}"
          echo "PR Number = ${{github.event.pull_request.number}}"

      - name: List Artifact's Content (after)
        run: ls -R

      - name: Deploy Client To GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          publish_branch: gh-pages
          publish_dir: ./dist
          destination_dir: preview/pr-${{github.event.pull_request.number}}

      - name: Output Link
        run: echo "Link = ${{env.BASE_URL}}/pr-${{github.event.pull_request.number}}"

  update-pr-description:
    runs-on: ubuntu-22.04

    needs: deploy-client

    steps:
      - name: Update PR Description
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            const pr = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            });

            const previewUrl = `${{env.BASE_URL}}/pr-${{ github.event.pull_request.number }}`;
            const previewSection = `\n\n---\n↗️ | **[Click to See The Preview](${previewUrl})**`;

            const body = pr.data.body || '';
            const doesPreviewLinkExists = body.includes(`↗️ | **[Click to See The Preview](${previewUrl})**`);

            console.log('doesPreviewLinkExists', doesPreviewLinkExists);

            if (!doesPreviewLinkExists) {
              await github.rest.pulls.update({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                body: body + previewSection
              });

              console.log('Link preview created!');
            } else {
              console.log('Link preview already exists. No update needed.'); 
            }
