name: Deploy PR Preview

# Todo: () => remove the type
on:
  pull_request:
    types: [opened]

defaults:
  run:
    working-directory: packages/client

env:
  BASE_URL: https://vulpy-labs.github.io/slash-out/preview
  PREVIEW_URL: https://vulpy-labs.github.io/slash-out/preview/pr-${{ github.event.pull_request.number }}
jobs:
  deploy-client:
    runs-on: ubuntu-22.04

    permissions:
      contents: write

    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: packages/client/.nvmrc

      - name: Build Static Files
        run: |
          npm ci
          npm run build

      - name: Deploy to GitHub Pages (PR Preview)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./packages/client/dist
          destination_dir: preview/pr-${{ github.event.pull_request.number }}
          keep_files: true

      - name: Output Link
        run: echo "Link = ${{ env.PREVIEW_URL }}"

  update-pr-description:
    runs-on: ubuntu-22.04

    permissions:
      pull-requests: write

    needs: deploy-client

    steps:
      - name: Update PR Description
        uses: actions/github-script@v7
        with:
          script: |
            const pr = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            });

            const previewUrl = `${{ env.PREVIEW_URL }}`;
            const previewSection = `\n\n---\n\n↗️ | **[Click to See The Preview](${previewUrl})**`;

            const body = pr.data.body || '';
            const doesPreviewLinkExist = body.includes(`↗️ | **[Click to See The Preview](${previewUrl})**`);

            if (!doesPreviewLinkExist) {
              await github.rest.pulls.update({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                body: body + previewSection
              });

              console.log('Link preview created!');
            } else {
              console.log('Link preview already exists. No update needed.');
            }
