name: Client - Deploy To GitHub Pages

on: pull_request

defaults:
  run:
    working-directory: packages/client

jobs:
  prepare-client:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Branch
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Build Static Files
        run: |
          npm ci
          npm run build

      - name: Upload Static Files As Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # upload-pages-artifact doesn't automatically access the predifined default working directory (line 7).
          # That's why I'm using the full path below.
          # Ref: https://github.com/actions/upload-artifact/issues/232
          path: packages/client/dist

  deploy-client:
    runs-on: ubuntu-22.04

    environment:
      name: github-pages
      url: ${{steps.page_deploy.outputs.page_url}}

    permissions:
      pages: write
      contents: write

    needs: prepare-client

    steps:
      - name: Deploy Client To GitHub Pages
        id: page_deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          publish_branch: gh-pages
          publish_dir: ./packages/client/dist
          destination_dir: preview/pr-${{github.event.pull_request.number}}
