name: Create PR Summary

on:
  pull_request:
    types: [opened, reopened, synchronize]

  workflow_dispatch:

env:
  SUMMARY_PLACEHOLDER: '_"beep beep boop boop"_'

jobs:
  generate-summary:
    # Test with slim later
    runs-on: ubuntu-latest

    permissions:
      models: read
      contents: read
      pull-requests: write

    steps:
      - name: Checkout To PR Code
        uses: actions/checkout@v4

      - name: Fetch PR Diff
        id: fetch-pr-diff
        uses: actions/github-script@v7
        with:
          script: |
            try {
              const pr_diff = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                mediaType: {
                  format: 'diff'
                }
              });

              return pr_diff.data;
            } catch (error) {
              throw new Error(`Error fetching PR Diff: ${error.message}`);
            };

      - name: Generate PR Summary
        id: inference-summary
        uses: actions/ai-inference@v2.0.6
        with:
          token: ${{ secrets.COPILOT_GITHUB_TOKEN }}
          model: openai/gpt-4o
          system-prompt-file: "./.github/workflows/prompts/pr-summary.prompt.md"
          prompt: |
            Here is the PR Diff to analyse: ${{ steps.fetch-pr-diff.outputs.result }}

      - name: Print Results
        run: |
          echo "Response saved to: ${{ steps.inference-summary.outputs.response-file }}"
          echo "response: " 
          cat "${{ steps.inference-summary.outputs.response-file }}"
          ls -la

      - name: Update PR Description
        env:
          NEW_SUMMARY: ${{ steps.inference-summary.outputs.response }}
        uses: actions/github-script@v7
        with:
          script: |
            try {
              const { data } = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
              });
              const body = data.body || '';
              const doesSummaryPlaceholderExist = body.includes(process.env.SUMMARY_PLACEHOLDER);

              if (doesSummaryPlaceholderExist) {
                const newBody = body.replace(process.env.SUMMARY_PLACEHOLDER, process.env.NEW_SUMMARY);

                const updated_pull_request = await github.rest.pulls.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: context.issue.number,
                  body: newBody
                });
              } else {
                console.log('Summary already exists.') 
              }
              
            } catch (error) {
              throw new Error(`Error updating description: ${error.message}`); 
            };
