name: Create PR Summary

on:
  pull_request:
    types: [opened, reopened, synchronize]

  workflow_dispatch:

jobs:
  generate-summary:
    runs-on: ubuntu-slim

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout To PR Code
        uses: actions/checkout@v4

      - name: Fetch PR Diff
        id: fetch-pr-diff
        uses: actions/github-script@v7
        with:
          script: |
            try {
              const pr_diff = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                mediaType: {
                  format: 'diff'
                }
              });

              console.log('PR Diff', pr_diff.data);

              return pr_diff.data;
            } catch (error) {
              throw new Error('Error fetching PR Diff:', error);
            };

      - name: Generate Summary
        uses: actions/github-script@v7
        with:
          script: |
            const string_output = `${{ steps.fetch-pr-diff.outputs.result }}`;
            const direct_output = steps?.fetch-pr-diff?.outputs?.result || null;

            console.log('direct_output:', direct_output);
            console.log('string_output:', string_output);
