name: Create PR Summary

on:
  pull_request:
    types: [opened, reopened, synchronize]

  workflow_dispatch:

jobs:
  generate-summary:
    # Test with slim later
    runs-on: ubuntu-latest

    permissions:
      models: read
      contents: read
      pull-requests: write

    steps:
      - name: Checkout To PR Code
        uses: actions/checkout@v4

      - name: Fetch PR Diff
        id: fetch-pr-diff
        uses: actions/github-script@v7
        with:
          script: |
            try {
              const pr_diff = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                mediaType: {
                  format: 'diff'
                }
              });

              return pr_diff.data;
            } catch (error) {
              throw new Error('Error fetching PR Diff:', error);
            };

      - name: Generate PR Summary
        id: inference-summary
        uses: actions/ai-inference@v2.0.6
        with:
          token: ${{ secrets.COPILOT_GITHUB_TOKEN }}
          model: openai/gpt-4o
          system-prompt-file: "./.github/workflows/prompts/pr-summary.prompt.md"
          prompt: |
            Here is the PR Diff to analyse: ${{ steps.fetch-pr-diff.outputs.result }}

      - name: Print Results
        run: |
          echo "Response saved to: ${{ steps.inference-summary.outputs.response-file }}"
          echo "response: " 
          cat "${{ steps.inference-summary.outputs.response-file }}"
          ls -la

      - name: Update PR Description
        env:
          SUMMARY: ${{ steps.inference-summary.outputs.response }}
        uses: actions/github-script@v7
        with:
          script: |
            try {
              const { data } = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
              });
              const body = data.body || '';

              console.log('\n Body type:', typeof body);
              console.log('\n body:', body);

              const doesSummaryPlaceholderExists = body.includes('_"beep beep boop boop"_');
              console.log('\n\n doesSummaryPlaceholderExists', doesSummaryPlaceholderExists);

              if (doesSummaryPlaceholderExists) {
                const summary = process.env.SUMMARY;
                const newBody = body.replace('_"beep beep boop boop"_', summary);

                console.log('\n\n newBody', newBody);

                const updated_pull_request = await github.rest.pulls.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: context.issue.number,
                  body: newBody
                });
              }
              
            } catch (error) {
              throw new Error('Error updating description:', error.message); 
            };
