name: Create PR Summary

on:
  pull_request:
    types: [opened, reopened, synchronize]

  workflow_dispatch:

jobs:
  generate-summary:
    runs-on: ubuntu-slim

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout To PR Code
        uses: actions/checkout@v4

      - name: Fetch PR Diff
        id: fetch-pr-diff
        uses: actions/github-script@v7
        with:
          script: |
            try {
              const pr_diff = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                mediaType: {
                  format: 'diff'
                }
              });

              return pr_diff.data;
            } catch (error) {
              throw new Error('Error fetching PR Diff:', error);
            };

      - name: Test AI Inference Access
        uses: actions/ai-inference@v2.0.6
        with:
          token: ${{ secrets.COPILOT_GITHUB_TOKEN }}
          model: gpt-4o-mini
          endpoint: https://api.githubcopilot.com
          prompt: "Say hello"
